<table class="mdl-data-table datatable">
    <thead>
    <tr>
        <th data-field="id">First Name</th>
        <th data-field="name">Last Name</th>
        <th data-field="price">Phone</th>
        <th data-field="e-mail">E-mail</th>
        <th data-field="pets">Pets</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>Marta</td>
        <td>Tenor</td>
        <td>665784125</td>
        <td>marta@test.com</td>
        <td>11804773J</td>
    </tr>
    <tr>
        <td>Jose</td>
        <td>Julian</td>
        <td>+34 123 45 67</td>
        <td>test@juanjo.com</td>
        <td>0</td>
    </tr>
    <tr>
        <td>Jose</td>
        <td>Julian</td>
        <td>+34 123 45 67</td>
        <td>test@test.com</td>
        <td>0</td>
    </tr>
    </tbody>
</table>