<table class="mdl-data-table datatable">
    <thead>
    <tr>
        <th data-field="id">First Name</th>
        <th data-field="name">Last Name</th>
        <th data-field="price">Phone</th>
        <th data-field="e-mail">E-mail</th>
        <th data-field="legalId">D.N.I</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#client}}

    <tr >

        <td>{{firstName}}</td>
        <td>{{lastName}}</td>
        <td>{{phone1}}</td>
        <td>{{email}}</td>
        <td>{{legalID}}</td>
        <td><a href="/dashboard/clients/{{id}}"><label>More Information</label></a></td>

    </tr>

    {{/client}}
    </tbody>
</table>