<footer class="page-footer purple">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Nombre clínica</h5>
                <p class="grey-text text-lighten-4">Slogan Clínica</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 VetManager
            <a class="grey-text text-lighten-4 right" href="#!">Check our work</a>
        </div>
    </div>
</footer>