<table class="mdl-data-table datatable">
    <thead>
    <tr>
        <th data-field="id">Item Name</th>
        <th data-field="category">Category</th>
        <th data-field="quantity">Quantity In Stock</th>
        <th data-field="price">Price(€)</th>
        <th data-field="info"></th>
    </tr>
    </thead>
    <tbody>
    {{#Item}}
    <tr>
        <td>{{name}}</td>
        <td><div class="chip">{{category}}</div></td>
        <td>{{quantity}}</td>
        <td>{{price}}€</td>
        <td>
            <a href="/dashboard/inventory/{{id}}">More information</a>
        </td>
    </tr>
    {{/Item}}
    </tbody>
</table>