<table class="mdl-data-table datatable">
    <thead>
    <tr>
        <th data-field="id">Item Name</th>
        <th data-field="category">Category</th>
        <th data-field="quantity">Quantity In Stock</th>
        <th data-field="price">Price(€)</th>
        <th data-field="price">Diseases</th>
    </tr>
    </thead>

    <tbody>

    <tr>
        <td>Eurican R</td>
        <td><div class="chip">Vaccine Dog</div></td>
        <td>50</td>
        <td>3.99€</td>
        <td>
            <!-- Modal Trigger -->
            <a class="waves-effect purple lighten-1 waves-light btn" href="#modal1"><i class="material-icons right">mode_edit</i>Appointment Today</a>
        </td>
    </tr>
    <tr>
        <td>Purevax RCP</td>
        <td><div class="chip">Vaccine Cat</div></td>
        <td>10</td>
        <td>300.99€</td>
        <td></td>
    </tr>
    <tr>
        <td>Gauze</td>
        <td><div class="chip">Material consultation</div></td>
        <td>500</td>
        <td>0.99€</td>
        <td></td>
    </tr>
    </tbody>
</table>