<table class="mdl-data-table datatable">
    <thead>
    <tr>
        <th data-field="id">Pet Name</th>
        <th data-field="name">Pet Details</th>
        <th data-field="price">Owner Data</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    {{#pet}}
    <tr>
        <td>{{name}}</td>
        <td><div class="chip">{{kind}}</div></td>
        <td>{{client.firstName}}</td>
        <td> <a href="/dashboard/pet/{{id}}">More information</a></td>
    </tr>
    {{/pet}}
    </tbody>
</table>