<table class="mdl-data-table datatable">
    <thead>
    <tr>
        <th data-field="id">Pet Name</th>
        <th data-field="name">Pet Details</th>
        <th data-field="price">Owner Data</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>Maya</td>
        <td><div class="chip">Dog</div></td>
        <td>Marta Lucas</td>
    </tr>
    <tr>
        <td>Alma</td>
        <td><div class="chip">Dog</div></td>
        <td>Juan Manolo</td>
    </tr>
    <tr>
        <td>Tasser</td>
        <td><div class="chip">Dog</div></td>
        <td>Alicia Arrivas</td>
    </tr>
    </tbody>
</table>