<!-- Add Appoint for Today Structure -->
<div id="modal_addtoday" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Add new Appoint for today</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Save</a>
    </div>
</div>

<!-- Add Appoint for Custom Day Structure -->
<div id="modal_addday" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Add new Appoint for specified day</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Save</a>
    </div>
</div>