{{#items}}
<!-- OWNER DATA -->
<div class="row">
    <div class="col s12 m12">
        <div class="card pink lighten-3">
            <div class="card-content black-text">
                <span class="card-title">Item data</span>
                <p><div class="row">

                <div class="row" >
                    <div class=" col s6">
                        <a class="black-text"><i class="material-icons black-text"  ></i>Product name: {{name}}  </a>
                    </div>
                    <div class=" col s6">
                        <a class="black-text"><i class="material-icons black-text"  ></i>Factory: {{factory}}</a>
                    </div>
                </div>
                <div class="row">
                    <div class=" col s6">
                        <a class="black-text"><i class="material-icons black-text"></i>Diseases: {{diseases}}</a>
                    </div>
                </div>
                <div class="row">
                    <div class=" col s6">
                        <a class="black-text"><i class="material-icons black-text"  ></i>Units for box: {{quantity}}</a>
                    </div>
                </div>
                <div class=" col s6">
                    <a class="black-text"><i class="material-icons black-text"  ></i>Price for unit: {{price}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{{/items}}