<!-- OWNER DATA -->
<div class="row">
    <div class="col s12 m12">
        <div class="card grey lighten-3">
            <div class="card-content black-text">
                <span class="card-title">Owner Preferences</span>
                <p><div class="row">

                <div class="row">
                    <div class="input-field col s4">
                        <i class="material-icons prefix">assignment_ind</i>
                        <input id="hours" type="number" class="validate"  name="hours" value="{{#client}}{{client.hoursBeforeNotification}}{{/client}}">
                        <label for="hours">Alert days before an appointment </label>
                    </div>

                </div>

            </div>
            </div>
        </div>
    </div>
</div>