{{> partials/injections }}
<body>
{{> partials/navigationDashboard }}
<main class="main-content">
    <nav class="grey lighten-2 black-text">
        <div class="nav-wrapper black-text">
            <div class="col s12 black-text">
                <a href="/dashboard/pets" class="breadcrumb black-text"> <i class="fa fa-paw"></i>
                    Pets</a>
                <a href="#!" class="breadcrumb black-text">Add new pet to patitent registry</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <form class="col s12" method="post" action="/dashboard/pets/new">
            <input id="clientIdInput" type="hidden" name="client" value="">
            <div class="card grey lighten-3">
                <div class="card-content black-text">
                    <span class="card-title">Find a client</span>
                    <p>
                    <div class="center-align">
                        <!-- Switch -->
                        <div class="switch">
                            <label>
                                Existing Client
                                <input id="client_switch" type="checkbox" name="newClient" placeholder="existingClient">
                                <span class="lever"></span>
                                New Client
                            </label>
                        </div>
                    </div>
                    <div id="existingClient">
                        <div class="row">
                            <div class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">recent_actors</i>
                                        <input type="text" id="autocomplete-lastname" class="autocomplete" name="firstNameClient">
                                        <label for="autocomplete-lastname">Last Name</label>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <table id="clientResultsTable" class="centered container">
                            <thead>
                            <tr>
                                <th data-field="id">First Name</th>
                                <th data-field="name">Last Name</th>
                                <th data-field="price">Pet Names</th>
                                <th data-field="select">Choose client</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>Alvin</td>
                                <td>Eclair</td>
                                <td>$0.87</td>
                                <td><a class="waves-effect waves-light btn"><i class="material-icons right">done</i>Choose</a></td>
                            </tr>
                            <tr>
                                <td>Alan</td>
                                <td>Jellybean</td>
                                <td>$3.76</td>
                                <td><a class="waves-effect waves-light btn"><i class="material-icons right">done</i>Choose</a></td>
                            </tr>
                            <tr>
                                <td>Jonathan</td>
                                <td>Lollipop</td>
                                <td>$7.00</td>
                                <td><a class="waves-effect waves-light btn"><i class="material-icons right">done</i>Choose</a></td>
                            </tr>
                            </tbody>
                        </table>
                        </p>
                    </div>
                </div>
            </div>
            <div id="newClient">
                {{> partialforms/owner_data }}
            </div>
            {{> partialforms/pet_data }}
            <button class="btn waves-effect waves-light " type="submit" name="action" value="Save Client">Submit
                <i class="material-icons right">send</i>
            </button>
            <br>
            <br>
        </form>
    </div>


</main>

{{> partials/footer }}
<script src="/resources/js/dashboard.js"></script>
<script src="/resources/js/clientManagement.js"></script>


</body>