{{> partials/injections }}
<script type="text/javascript" src="/resources/js/appointment.js"></script>

<body>
{{> partials/navigationDashboard }}
<main class="main-content">
    <div class="section">
        <div class="row">
            <div class="col l12 manager-panel">
                <div class="card purple darken-3 z-depth-4 white-text">
                    <span class="card-title">APPOINTMENT MANAGER PANEL</span>
                    <input type="date" class="datepicker">
                    <a class="waves-effect purple lighten-1 waves-light btn" href="#modal_addtoday"><i class="material-icons right">mode_edit</i>Appointment Today</a>
                    <a class="waves-effect purple lighten-1 waves-light btn"><i class="material-icons right">schedule</i>Another appointment</a>
                </div>
            </div>
        </div>
        <div class="row cells">
            {{#Appointment}}
            <div class="col s12 m6 l3">
                <div class="waves-effect card {{color}}">
                    <div class="card-content white-text center-align">
                        <span class="card-title">{{pet.name}}</span>
                        <p class="truncate center-align">
                            <b>{{date}}</b>
                        </p>
                        <br>
                        <div class="chip">
                            {{#pet.breed}}
                                {{breed}}
                            {{/pet.breed}}
                        </div>
                        <div class="chip orange lighten-4">
                            Dueño:
                            {{#pet.client}}
                                {{firstName}}
                            {{/pet.client}}
                        </div>

                    </div>
                    <div class="card-action center-align">
                        <a href="/dashboard/appointments/{{id}}">Go to consultation</a>
                    </div>
                </div>
            </div>
            {{/Appointment}}
            <div class="col s12 m6 l3">
                <div class="waves-effect card blue">
                    <div class="card-content white-text center-align">
                        <span class="card-title">nsckdhnshk</span>
                        <p class="truncate center-align">
                            <b>18:10 - 18:30</b>
                        </p>
                        <br>
                        <div class="chip">
                       sxali
                        </div>
                        <div class="chip orange lighten-4">
                            Dueño: jdhh
                        </div>

                    </div>
                    <div class="card-action center-align">
                        <a href="#">Go to consultation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="row">-->
    <!--<div class="manager-panel center-align purple darken-3 z-depth-4 white-text">-->
    <!--<span class="card-title">APPOINTMENT MANAGER PANEL</span>-->
    <!--<input type="date" class="datepicker">-->
    <!--<a class="waves-effect purple lighten-1 waves-light btn"><i class="material-icons right">mode_edit</i>Appointment Today</a>-->
    <!--<a class="waves-effect purple waves-light btn"><i class="material-icons right">schedule</i>Another appointment</a>-->
    <!--</div>-->
    <!--<div class="col s12 m8 l9">-->
    <!--<div class="row">-->
    <!--<div class="col s12 m6 l3">-->

    <!--</div>-->
    <!--<div class="col s12 m6 l3">-->
    <!--<div class="waves-effect card teal darken-2">-->
    <!--<div class="card-content white-text center-align">-->
    <!--<span class="card-title">Pancho</span>-->
    <!--<p class="truncate center-align">-->
    <!--<b>18:10 - 18:30</b>-->
    <!--</p>-->
    <!--<br>-->
    <!--<div class="chip">-->
    <!--Siberian Husky-->
    <!--</div>-->
    <!--<div class="chip orange lighten-4">-->
    <!--Dueño: Juan Robles-->
    <!--</div>-->

    <!--</div>-->
    <!--<div class="card-action center-align">-->
    <!--<a href="#">Go to consultation</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col s12 m6 l3">-->
    <!--<div class="waves-effect card teal darken-2">-->
    <!--<div class="card-content white-text center-align">-->
    <!--<span class="card-title">Pancho</span>-->
    <!--<p class="truncate center-align">-->
    <!--<b>18:10 - 18:30</b>-->
    <!--</p>-->
    <!--<br>-->
    <!--<div class="chip">-->
    <!--Siberian Husky-->
    <!--</div>-->
    <!--<div class="chip orange lighten-4">-->
    <!--Dueño: Juan Robles-->
    <!--</div>-->

    <!--</div>-->
    <!--<div class="card-action center-align">-->
    <!--<a href="#">Go to consultation</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col s12 m6 l3">-->
    <!--<div class="waves-effect card red darken-1">-->
    <!--<div class="card-content white-text center-align">-->
    <!--<span class="card-title">Pancho</span>-->
    <!--<p class="truncate center-align">-->
    <!--<b>18:10 - 18:30</b>-->
    <!--</p>-->
    <!--<br>-->
    <!--<div class="chip">-->
    <!--Siberian Husky-->
    <!--</div>-->
    <!--<div class="chip orange lighten-4">-->
    <!--Dueño: Juan Robles-->
    <!--</div>-->

    <!--</div>-->
    <!--<div class="card-action center-align">-->
    <!--<a href="#">Go to consultation</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col s12 m6 l3">-->
    <!--<div class="waves-effect card cyan darken-2">-->
    <!--<div class="card-content white-text center-align">-->
    <!--<span class="card-title">Pancho</span>-->
    <!--<p class="truncate center-align">-->
    <!--<b>18:10 - 18:30</b>-->
    <!--</p>-->
    <!--<br>-->
    <!--<div class="chip">-->
    <!--Siberian Husky-->
    <!--</div>-->
    <!--<div class="chip orange lighten-4">-->
    <!--Dueño: Juan Robles-->
    <!--</div>-->

    <!--</div>-->
    <!--<div class="card-action center-align">-->
    <!--<a href="#">Go to consultation</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</main>
{{> partialforms/add_appointment_manager }}
{{> partials/footer }}
</body>