<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>{{> partials/injections }}
<body>
{{> partials/navigationDashboard }}
<main class="main-content">
    <nav class="grey lighten-2 black-text">
        <div class="nav-wrapper black-text">
            <div class="col s12 black-text">
                <a href="/dashboard/clients" class="breadcrumb black-text"> <i class="fa fa-users"></i>
                    Clients</a>
                <a href="#!" class="breadcrumb black-text">Client information</a>
            </div>
        </div>
    </nav>

    <div class="container">

        {{> partialforms/owner_view}}

    </div>

</main>

{{> partials/footer }}
<script src="/resources/js/dashboard.js"></script>
<script src="/resources/js/clientManagement.js"></script>


</body>