{{> partials/injections }}

<body>
    <header>
        {{>  partials/navigation }}
    </header>

    <!-- CONTENT -->
    <main>
        <div class="container">
            <div class="row valign-wrapper">
                <div class="col s1 m4 l3 valign">
                    <a class="waves-effect waves-light btn-large"><i class="material-icons left">room</i>Dónde estamos</a>
                </div>
                <div class="col s1 m4 l6 center-align black-text ce">
                    <b>Clínica Veterinaria DonGuau</b><br>
                    Calle GuauMiau, 11, Madrid<br>
                    91 123 45 67
                </div>
                <div class="col s1 m4 l3 valign">
                    <a class="waves-effect waves-light btn-large"><i class="material-icons right">info_outline</i>Contacto</a>
                </div>
            </div>

        </div>
    </main>

    <footer>
    {{> partials/footer }}
    </footer>
</body>