{{> partials/injections }}
{{> partials/datatablesInject }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.material.min.css">

<body>
{{> partials/navigationDashboard }}
<main class="main-content">
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col s4 offset-s1">
                <a href="/dashboard/inventory/new"><button class="purple btn waves-effect waves-light">New item
                    <i class="material-icons right">playlist_add</i>
                </button></a>
            </div>
        </div>

        {{> partials/inventory_table }}
    </div>
</main>

{{> partials/footer }}
<script src="/resources/js/datatables.js"></script>
<script> $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
});

$('.modal').modal({
        dismissible: true, // Modal can be dismissed by clicking outside of the modal
        opacity: .5, // Opacity of modal background
        inDuration: 300, // Transition in duration
        outDuration: 200, // Transition out duration
        startingTop: '4%', // Starting top style attribute
        endingTop: '10%', // Ending top style attribute
        ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
            alert("Ready");
            console.log(modal, trigger);
        },
        complete: function() { alert('Closed'); } // Callback for Modal close
    }
);
</script>
</body>
